.App{
  color:  white;
  background-image: url(/src/images/Background.png);
  height: 100vh;
}

body{
  /*сделали стр непрокручиваемой*/
  overflow: hidden;
}

.current{
  text-align: center;
  padding: 64px;
}
.currentCity{
  font-family: Roboto;
  font-size: 36px;
  font-weight: 500;
  line-height: 47px;
  letter-spacing: 0px;
}
.currentTemp{
  font-family: Roboto;
  font-size: 96px;
  font-weight: 300;
  line-height: 125px;
  letter-spacing: 0px;
}
.currentDescription{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 0px;
}

p{
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400px;
  line-height: 31px;
  letter-spacing: 0px;
  text-align: left;
  
  position: absolute;
  width: 466px;
  height: 31px;
  left: 64px;
  top: 704px;
}

