.DayList{
    background: rgba(255, 255, 255, 0.25);
    border-radius: 16px;
}

.DayWeather{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 160px;
    height: 168px;
    padding: 16px;
    margin-right: 48px;
}

.DayTitle{
    display: flex;
    flex-direction: row;
}

.DayWeather_title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}

.DayWeather_nameDay{
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
}


.DayWeather img{
    width: 70px;
    height: 70px;
}

.DayWeather_temp{
    display: flex;
    flex-direction: row;
}

.Day_temp{
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
}

.Night_temp{
    display: flex;
    align-items: flex-end;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    opacity: 0.5;
    padding-left: 16px;
}


